__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.db
docker-compose.override.yml
.coverage
htmlcov/
*.sqlite3
*.log
pgadmin/
.DS_Store
Thumbs.db
build/
dist/
*.egg-info/
requirements.txt
poetry.lock

.github

*.zip